# Build artifacts
classes/
/Lox/classes/
/Lox/out/
/jar/
/bin/
*.class
*.out
*.dSYM/

# Logs
*.log

# OS files
.DS_Store

# IDE files
.idea/
*.iml
.vscode/

# Deleted or moved directory
/Lox/lox/

# Scratch files
/Lox/hello.txt
Lox/hello.txt